# Python
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/
env/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# TensorFlow checkpoints
*.ckpt
checkpoint
events.out.tfevents.*

# Saved models
saved_model/
exported-models/

# Large archives
*.zip
*.rar
*.7z

# Logs
*.log

# OS
.DS_Store
Thumbs.db